.header-top{
    width: 100%;
    height: 55px;
    background: #5624d0; 
}
body{
    margin: 0;
    padding: 0;
    font-family:udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol
}
.header-top p{
    margin-top: 0;
    text-align: center;
    padding: 16px;
}
.fa-times{
    color: #ffffff;
    font-weight: initial;
    float: right;
    font-size: 20px;
    font-size: 17px !important;
}
header{
    width: 100%;
    background: #fff;  
}
header nav{
    margin-top: 7px;
}
header a{
    text-decoration: none;
}
header .header-bottom{
    display: flex;
    justify-content: space-around;
    height: 70px;
}
nav img{
    vertical-align: middle;
 }
.heading-bold{
    color: #fff;
    font-weight: 700;
}
.heading{
    color: #fff;
    font-weight: 400;
    width: 100%;
    height: 50%;
}
.slider-section{
    width: 100%;
    height: 400px;
    background-image: url("images/slider-img-1.jpg");
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    position: relative;
}
.navbar-controls {
    padding: 0px 8px;
}
.nav-categories {
    color: #1c1d1f;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 500;
    font-size: 14px;
    padding: 14px;
}
.nav-categories:hover{
    color: #5624d0;
}
.nav-search {
    height: 43px;
    width: 459px;
    border-radius: 25px;
    border: 1px solid #1c1d1f;
    margin-top: 4px;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    font-size: 15px;
    padding-left: 16px;
}
.nav-menus{
    color: #1c1d1f;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
}
.nav-menus:hover{
    color: #5624d0;
}
.login{
    color: #1c1d1f;
    border: 1px solid #1c1d1f;
    padding: 10px 12px;
    width: 56px;
    text-align: center;
    font-weight: 700;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 14px;
    margin-right: 5px;
}
.login:hover{
    background: #eeeeee;
    cursor: pointer;
}
.signup{
    color: #fff;
    background-color: #1c1d1f;
    border: 1px solid #1c1d1f;
    padding: 10px 12px;
    width: 56px;
    text-align: center;
    font-weight: 700;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 14px;
}
.language{
    color: #1c1d1f;
    border: 1px solid #1c1d1f;
    padding: 10px 12px;
    width: 56px;
    text-align: center;
    font-weight: 700;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 14px;
    margin: 6px;
}
.fa-globe{
    font-size: 22px !important;
}
.fa-shopping-cart{
    font-size: 22px !important;
    color: #1c1d1f;
    padding: 0 13px 0 2px;
}
input::placeholder {
    padding: 30px;
}
.text-block{
    background-color: white;
    width: 30%;
    margin: 60px 81px;
    padding: 7px 18px;
    position: absolute;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);  
}
.text-block h1{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.25;
    font-size: 30px;
}
.text-block p{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 18px;
}
.course-list-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
}
.image-container{
    width: 95%;
    height: 132px;
    background-color: #1c1d1f;
    border: 1px solid #d1d7dc;
}
.course-content{
    width: 94%;
    height: 100%;
    padding: 14px 38px 20px;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.checked,.fa-star-half-full {
    color: orange;
}
.badge {
    background-color: #eceb98;
    color: 3d3c0a;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}
.tab{
    overflow: hidden;
}
.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #6a6f73;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.01rem;
    font-size: 16px;
}
.tab button:hover{
    color: #1c1d1f;
}
.tab button.active{
    color: #1c1d1f;
    letter-spacing: -0.01rem;
}
.tabcontent{
    padding: 10px 40px 24px;
}
.tab-active-details{
    border: 1px solid #d1d7dc;
}
.content-heading{

}
.course-content h2{
    font-family: 'FontAwesome';
    font-weight: 700;
    font-size: 38px;
    margin: 10px 0;
    margin-top: 30px;
}
.content-heading {
    max-width: 100%;
}
.content-heading p{
    font-size: larger;
    font-weight: 400;
    line-height: 1.4;
}
.tabcontent h3{
    line-height: 1.2;
    font-size: 25px;
    margin-bottom: 15px;
}
.tab-active-details button{
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    margin: 7px 40px 27px;
    padding: 10px;
    font-weight: bold;
}
.card-details{
    align-self: flex-start;
}
.course-details a{
    color: #1c1d1f;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.01rem;
}
.course-details{
    margin: 8px 0;
}
.rate{
    margin-right: 1px;
    color: #b4690e;
    font-weight: 700;
    font-size: 14px;
}
.ratings{
    font-size: 12px;
}
.rating-count{
    color: #6a6f73;
    font-weight: 400;
}
.discount-price{
    font-weight: 700;
    font-size: initial;
    margin-right: 5px;
}
.original-price{
    color: #6a6f73;
    font-size: 15px;
}
.instructor{
    color: #6a6f73;
    font-size: 12px;
    font-weight: 400;
}
.viewing-header{
    padding: 1px 38px;
}
.category-section{
    background: #f7f9fa;
}
.category-heading{
    
}
.component-margin {
    padding: 42px 30px;
}
.category-container{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}
.category{
    display: flex;
}
.trending-development{
    color: #5624d0;
    font-weight: 700;
    text-decoration: underline;
    font-size: 16px;
    padding-bottom: 30px;
}
.trending-topics{
    padding-bottom: 26px;
}
.trending-topics a{
    color: #5624d0;
    font-weight: 700;
}
.trending-topics span{
    color: #6a6f73;
    font-size: 14px;
    font-weight: 400;
}
.explore-btn{
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    margin: 7px 0px 27px;
    padding: 10px;
    font-weight: bold;
}
.partners-container h2,.partners-container p{
    text-align: center;
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.partners-container h2{
    font-size: 26px;
}
.partners-container p{
    font-size: 17px;
    padding: 10px;
}
.partner-banner-images{
    display: flex;
    justify-content: space-between;
}
.component-margin-partners{
    padding: 75px 30px;
}
.business-logo img{
    width: 192px;
    height: auto;
}
.business-right-section img{
    width: 400px;
    height: auto;
}
.instructor-left-section img{
    width: 400px;
    height: auto;
}
.instructor-left-section{
    padding: 69px 10px;
}

.udemy-business-section{
    display: flex;
    justify-content: space-evenly;
}
.udemy-instructor-section{
    display: flex;
    justify-content: space-evenly;
}
.business-left-section h3{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -.05rem;
}
.business-left-section ul{
    margin: 0;
    padding:0;
    font-size: 19px;
}
.business-btn,.start-teaching button{
    color: #fff;
    background-color: #1c1d1f;
    border: 1px solid #1c1d1f;
    padding:12px 12px;
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 15px;
}
.button-group{
    padding: 29px 0;
}
.learn-more-btn{
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    margin: 7px 0px 27px;
    padding: 14px;
    font-weight: bold;
}
.udemy-instructor-section h1{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -.05rem;
}
.instructor-right-section h1{
    padding: 72px 140px 0 0;
}
.instructor-right-section p{
    margin: 0;
    padding: 0;
    font-size: 19px;
    padding-bottom: 24px;
}
.instructor-right-section{
    padding-top: 65px !important;
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.footer-menus{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #1c1d1f;
    padding: 45px;
    height: 208px;
}
.menus a{
    color: #ffffff;
    text-decoration: none;
    font-size: inherit;
    font-weight: 400;
    letter-spacing: -0.001rem;
    font-size: 14px;
}
.menus a:hover{
    text-decoration: underline;
}
.menu-btn button{
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 35px;
}
.lang{
    padding: 0 7px;
}
.fa-search{
    position: sticky;
    color: #8a8b8c;
    top: 14%;
    left: 20%;
}
.logo-container img{
    width: 100px;
    height: 35px;
}
.logo-and-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}
.copyright-container{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
